black
pytest
pytest-xdist
pyre-check
scipy
torch
torchvision
matplotlib
pytorch3d
#mmcv-full==1.7.1
#mmcls==0.25.0
#mmdet==2.27.0
#mmsegmentation==0.30.0
orjson
tensorboard
GitPython
IPython
parameterized
av
opencv-contrib-python-headless
torchinfo
nuscenes-devkit
torchmetrics>=1.1.0
dataclasses-json
safetensors
zstd
pyarrow
usort==1.0.2
flake8==3.9.0
torchx
StrEnum
pandas
pythreejs
lintrunner
lintrunner-adapters
torchtune
diffusers
